body {
    background-color: #227C9D;
}

/* Game Area */

.quiz-box {
    background-color: #EEF1F3;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #227C9D;
}

/* Page Heading & score area */

.heading, .score-area {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEF1F3;
}

/* answer buttons */

.btn {
    background-color: #EEF1F3;
    color: #227C9D;
    font-weight: 500;
    width: 100%;
    border: 1px solid #227C9D;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 6px;
}

/* button hover effect */
.btn:hover {
  font-weight: bold;
}

/* Style for correct answers */
.correct {
    background-color: rgb(0, 128, 0, 0.8);
    color: white; 
    border: 2px solid;
}


/* Style for incorrect answers */
.incorrect {
    background-color: rgb(255, 0, 0, 0.9);
    color: white;
    border: 2px solid;
}

/* Next Question Button */

#next-btn {
    width: 50%;
    border: 0;
    padding: 10px;
    margin: 15px auto 0;
    border-radius: 6px;
    border: 1px solid #227C9D;
    cursor: pointer;
    color: #227C9D;
}

@media screen and (max-width: 768px) {
    .quiz-box {
        width: 90%;
        padding: 20px;
    }
    .btn {
        font-size: 14px;
    }
    #next-btn {
        width: 60%;
    }
}
